<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/fonts.css">
  <title>BeatLab</title>
</head>

<body class="login-page">
  <header class="header">
  </header>

  <main class="main-login">
    <section>
      <div class="">
        <div class="container-signup">
          <div class="sign-form">
            <h2>Sign In</h2>
            <br>
            <form id="loginForm" name="loginForm" action="/login" method="POST">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" required placeholder="Enter your username">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required autocomplete="off"
                placeholder="Enter your password">
              <button type="submit">Submit</button>
              <% if (error) { %>
                <p class="error-message">
                  <%= error %>
                </p>
                <% } %>
                  <p id="form-text-dec">Not registered? <a href="/signup">Create an Account.</a></p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>

</html>