<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../public/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/fonts.css">

  <title>BeatLab</title>
</head>

<body>
  <header class="header">
    <section class="header_section">
      <div class="navbar-wrapper">
        <nav class="navbar navbar-default">
          <div class="container-navbar">
            <div class="navbar-logo">
              <a class="navbar-brand" href="/home">
                <img src="/images/logos.svg" alt="logo">
              </a>
            </div>
            <ul class="navbar-links">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="/facts">Facts</a></li>
              <li>
                <form class="navbar-search" action="/search" method="get">
                  <input type="text" name="q" placeholder="Search...">
                  <button type="submit"><img src="/images/search.png" alt="Search"></button>
                </form>
              </li>
              <div class="wrapper-profile">
                <% if (user) { %>
                  <li class="nickname-cont">
                    <a href="/home">
                      <%= user.username %>
                    </a>
                    <a href="/logout">Logout</a>
                  </li>
                  <% } %>
              </div>
            </ul>
          </div>
        </nav>
      </div>
    </section>
  </header>

  <main class="main">
    <section class="main_section">
      <div class="section-wrapper">
        <div>
          <div class="music-line-header">
            <h2>Search Results</h2>
          </div>
          <div class="tracks-container">
            <% if (data.tracks) { %>
              <ul class="search-wrapper">
                <% data.tracks.hits.forEach(function(track) { %>
                  <li class="track-container">
                    <img src="<%= track.images.default %>" class="track-image" alt="Track Image">
                    <div>
                      <h3 class="track-title">
                        <%= track.heading.title %>
                      </h3>
                      <p class="track-subtitle">
                        <%= track.heading.subtitle %>
                      </p>
                    </div>
                  </li>
                  <% }); %>
              </ul>
              <% } %>
          </div>

        </div>
      </div>
    </section>
  </main>


  <footer class="footer">
    <section class="footer_section"></section>
  </footer>

</body>

</html>